
p {
    color: brown;
  }

html {background-color: green}

html {text-align: center;}

h2 {
    color: brown;
}

h1 {
    color: brown;
}

img {
    border: 10px solid #555;
}

img {outline-style: solid;}

